<% for (let i = 0; i < questions.length; i++) { %>
	<article id="<%= questions[i].createdBy %>_question" class="recent_inquisition">
		<header class="author"><%= questions[i].createdBy %> asked <time><%= questions[i].createdAt.toLocaleString() %></time></header>
		<small class="inquest">
			<%= questions[i].summary %><br />
			<%= questions[i].details.slice(0, 300) %> ... <a href="/inquire/inquiry/<%= questions[i].id %> ">Read More</a>
		</small>
		<hr>
	</article>
<% } %>