<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%- meta.title %></title>
  <meta name="description" content="<%- meta.description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <!--Local Stylesheets-->
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="<%- meta.style %>">

  <!--Scripts-->
</head>

<body>
  <header>
    <%- include('partials/header') %>
  </header>
  <%- include('partials/alerts') %>
  <main>
    <%- body %>
  </main>
  <footer id="global_footer">
    <p>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> </p>
  </footer>
</body>

</html>
